<?xml version="0.0" ?>
<robot name="chimney">

  <material name = "light_blue">
      <color rgba="0.52 0.73 1 1"/>
  </material>

  <material name = "brown">
      <color rgba="0.68 0.45 0.35 1.0"/>
  </material>

  <material name="brown2">
      <color rgba="0.545 0.27 0.074 1.0"/>
  </material>

  <link name="first_ground">
    <inertial>
      <origin rpy="0 0 0" xyz="0 0 0"/>
       <mass value="1.0"/>
       <inertia ixx="1" ixy="0" ixz="0" iyy="1" iyz="0" izz="1"/>
    </inertial>
    <visual>
      <origin rpy="0 0 0" xyz="-0.2 0 -0.005"/>
      <geometry>
        <box size="0.75 1.5 0.01"/>
      </geometry>
      <material name="light_blue"/>
    </visual>
  </link>

  <joint name="first_to_second" type="fixed">
    <origin rpy="0 0 0" xyz="0.329 0 0.08"/>
    <parent link="first_ground"/>
    <child link="second_ground"/>
  </joint>
  <link name="second_ground">
    <inertial>
      <origin rpy="0 0 0" xyz="0 0 0"/>
       <mass value="1.0"/>
       <inertia ixx="1" ixy="0" ixz="0" iyy="1" iyz="0" izz="1"/>
    </inertial>
    <visual>
      <origin rpy="0.3805 0 0" xyz="0.00372 0 -0.00928"/>
      <geometry>
        <box size="0.25 1.5 0.005"/>
      </geometry>
      <material name="brown"/>
    </visual>
  </link>

  <joint name="first_to_third" type="fixed">
    <origin rpy="0 0 0" xyz="0.756 0 0.08"/>
    <parent link="first_ground"/>
    <child link="third_ground"/>
  </joint>
  <link name="third_ground">
    <inertial>
      <origin rpy="0 0 0" xyz="0 0 0"/>
       <mass value="1.0"/>
       <inertia ixx="1" ixy="0" ixz="0" iyy="1" iyz="0" izz="1"/>
    </inertial>
    <visual>
      <origin rpy="-0.3805 0 0" xyz="0.00372 0 -0.00928"/>
      <geometry>
        <box size="0.3 1.5 0.005"/>
      </geometry>
      <material name="brown2"/>
    </visual>
  </link>

  <joint name="first_to_fourth" type="fixed">
    <origin rpy="0 0 0" xyz="1.1 0 0"/>
    <parent link="first_ground"/>
    <child link="fourth_ground"/>
  </joint>
  <link name="fourth_ground">
    <inertial>
      <origin rpy="0 0 0" xyz="0 0 0"/>
       <mass value="1.0"/>
       <inertia ixx="1" ixy="0" ixz="0" iyy="1" iyz="0" izz="1"/>
    </inertial>
    <visual>
      <origin rpy="0 0 0" xyz="0 0 -0.005"/>
      <geometry>
        <box size="0.3 1.5 0.01"/>
      </geometry>
      <material name="light_blue"/>
    </visual>
  </link>

</robot>

